.footer {
  background-color: #1f2937;
  color: #f3f4f6;
  padding: 40px 20px;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .footer-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.footer-section {
  max-width: 300px;
  text-align: left;
}
.footer-section span img {
  width: 100px;
      height: 100px;
      margin-left: 30px;
      transition: transform 0.3s ease;
      cursor: pointer;
}

.footer-section span img:hover {
  transform: scale(1.1);
}

.footer-section h3 {
  color: #3b82f6;
  font-size: 20px;
  margin-bottom: 10px;
}

.footer-section p
 {
  font-size: 15px;
  color: #e5e7eb;
  line-height: 1.5;
}

.about p {
  font-size: 14px;
  color: #9ca3af;
}

.links ul {
  list-style-type: none;
  padding: 0;
}
.links h3{
  font-weight: normal !important;
}

.links a {
  display: block;
  margin: 5px 0;
  color: #93c5fd;
  text-decoration: none;
  transition: color 0.3s ease;
  cursor: pointer;
}

.links a:hover {
  color: #ffcc00;
}

.contact .social-icons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.contact .social-icons a {
  color: #93c5fd;
  font-size: 16px;
  transition: color 0.3s ease;
  cursor: pointer;
}
.contact h3 {
  font-weight: normal;
}

.contact .social-icons a:hover {
  color: #ffcc06;
}

.footer-bottom {
  border-top: 1px solid #374151;
  padding-top: 20px;
  margin-top: 20px;
}

.footer-bottom p {
  font-size: 14px;
  color: #9ca3af;
  margin: 0;
}
